body {
  background-color: #eaf6f6;
}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: lightgrey;
  border-width: 10px;
  width: 5%;
}
h1 {
  color: midnightblue;
}
h3 {
  color: royalblue;
}
.name {
  font-family: garamond, "times new roman";
}
